<%- include('./partials/header') %>

<%# Home Page %>
<div class="text-center mt-5">
  <h1 class="display-4">Car Maintenance Log</h1>
  <p class="lead mt-3">
    Track your oil changes, repairs, and car maintenance history easily.
  </p>
  
  <%# Buttons %>
  <a href="/records" class="btn btn-primary btn-lg mt-3">View Maintenance Records</a>
  <a href="/records/new" class="btn btn-success btn-lg mt-3">Add New Record</a>
</div>

<%- include('./partials/footer') %>
