<%- include("../partials/header") %>

<div class="container home-hero">
  <h1>Car Maintenance Log</h1>
  <p class="lead">Track your oil changes, repairs, and maintenance history easily.</p>

  <% if (!currentUser) { %>
    <a class="btn btn-dark btn-lg" href="/auth/github">Sign in</a>
  <% } else { %>
    <a class="btn btn-success btn-lg" href="/records">View My Records</a>
  <% } %>
</div>

<%- include("../partials/footer") %>


